.footer {
  padding: 48px 20px 24px;
  background: 
  linear-gradient(rgba(16, 16, 16, 0.858), rgba(29, 29, 29, 0.863)),
  url("C:\Users\USER\Documents\Le-Havre\Site\Kumar\kumar-construction\public\assets\footer.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  margin-bottom: 32px;
}

.footer-section h3 {
  font-size: 1.25rem;
  margin-bottom: 12px;
  color: #60a5fa;
}

.footer-section h4 {
  font-size: 1rem;
  margin-bottom: 12px;
  color: #9ca3af;
}

.footer-section p {
  color: #d1d5db;
  line-height: 1.6;
  margin: 8px 0;
  font-weight: bold;
}

.footer-bottom {
  border-top: 1px solid #ccc;
  padding-top: 24px;
  text-align: center;
  color: #fff;
  font-size: 0.875rem;
}

.footer-logo img{
  width: 300px;
}